@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
      font-family: 'Montserrat', sans-serif; 
      font-size: 13px;
}

.btnColor {
      background-color: orangered;
      border: none;
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      border-radius: 5px;
}

.arrowBtn {
      background-color: rgba(255, 68, 0, 0.185);
      color: orangered;
      border: none;
}

.arrowBtn:hover {
      background-color: orangered;
      color: #fff;
      border: none;
}